<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bamboo.mapper.AdminMapper">

    <select id="getUserPaidFine" resultType="int">
        <![CDATA[
        select paidfine
        from table_user_copy where id = #{id}
        ]]>
    </select>

    <update id="updateUserFine">
        <![CDATA[
        update table_user_copy
        set
            paidfine = #{fine}
        where id = #{id}
        ]]>
    </update>

    <insert id="insertIntoFineLog">
        <![CDATA[
        insert into table_fine_log_copy (id, fineonce, accumulation)
        values (#{id}, #{fineOnce}, #{accumulation})
        ]]>
    </insert>

</mapper>