<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bamboo.mapper.UserMapper">

    <insert id="insertUser">
        insert into tbl_user (id, name)
        values (#{githubId}, #{korName})
    </insert>

    <select id="getUserDataforResponse" resultType="com.bamboo.domain.UserVO">
        <![CDATA[
            select id, name, paidfine, startedat, commitsinarow, totalcommits, rankpower, userimg, commitdaycount
            from tbl_user order by rankpower desc
        ]]>
    </select>

    <select id="getUserDataforUpdate" resultType="com.bamboo.domain.UserDataRecord">
        select id, startedat, commitsinarow, userimg, lastupdate, totalcommits, commitdaycount
        from tbl_user
    </select>

    <update id="updateUserData">
        <![CDATA[
            update tbl_user
            set
                userimg = #{userImg},
                lastupdate = #{lastUpdate},
                totalcommits = #{totalCommits},
                commitdaycount = #{commitDayCount},
                commitsinarow = #{commitsInARow},
                rankpower = #{rankPower}
            where id = #{id}
        ]]>
    </update>

    <delete id="deleteUser">
        <![CDATA[
            delete from tbl_user where id = #{githubId}
        ]]>
    </delete>
</mapper>